[submodule "Reveal.js-Title-Footer"]
	path = Reveal.js-Title-Footer
	url = https://github.com/e-gor/Reveal.js-Title-Footer.git
[submodule "templates/reveal/Reveal.js-Title-Footer"]
	path = templates/reveal/Reveal.js-Title-Footer
	url = https://github.com/e-gor/Reveal.js-Title-Footer.git
[submodule "lisp/org-pdftools"]
	path = lisp/org-pdftools
	url = https://github.com/fuxialexander/org-pdftools.git
[submodule "lisp/ov-highlight"]
	path = lisp/ov-highlight
	url = https://github.com/jkitchin/ov-highlight.git
[submodule "lisp/org-fm-dev"]
	path = lisp/org-fm-dev
	url = https://github.com/timmli/org-fm-dev.git
[submodule "lisp/org-transclusion"]
	path = lisp/org-transclusion
	url = https://github.com/nobiot/org-transclusion.git
[submodule "lisp/mu4e-thread-folding"]
	path = lisp/mu4e-thread-folding
	url = https://github.com/rougier/mu4e-thread-folding.git
[submodule "lisp/helm-khard"]
	path = lisp/helm-khard
	url = https://github.com/timmli/helm-khard.git
[submodule "lisp/org-ical-sync"]
	path = lisp/org-ical-sync
	url = https://codeberg.org/timmli/org-ical-sync.git
[submodule "lisp/helm-elfeed"]
	path = lisp/helm-elfeed
	url = https://codeberg.org/timmli/helm-elfeed
[submodule "lisp/org-drawio"]
	path = lisp/org-drawio
	url = https://codeberg.org/timmli/org-drawio.git
[submodule "lisp/dictcc"]
	path = lisp/dictcc
	url = https://github.com/timmli/dictcc.el
